<html>
  <head>
    <title>steamlink</title>
    <script
       src="https://code.jquery.com/jquery-3.1.1.min.js"
       integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
       crossorigin="anonymous">
    </script>

    <script
       src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"
       crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
    <script type="text/javascript" src="/static/app.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/bulma.css">
  </head>
  <body>

    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            steamlink dashboard
          </h1>
        </div>
      </div>
    </section>

    <section class="section" id="app_transforms">
      <div class="container">
        <div class="column is-half">
          <h2 class="subtitle">Add a new transform</h2>
          <form id="form_transform">
            <label class="label">Transform name</label>
            <p class="control">
              <input class="input" type="text" name="transform_name" v-model="form_transform.name">
            </p>
            <label class="label">Filter</label>
            <table class ="filters_list table">
              <thead>
                <th>Filter name</th>
                <th>Filter string</th>
                <th>Select</th>
              </thead>
              <tr v-for="(item,index) in filters">
                <td>
                  {% raw %}
                  {{ item.filter_name }}
                  {% endraw %}
                </td>
                <td>
                  {% raw %}
                  {{ item.filter_string }}
                  {% endraw %}
                </td>
                <td>
                  <label class="radio">
                    <input type="radio" name="filter_choice" v-bind:value="index" v-model="filter_picked">
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <input class="input" type="text" name="new_filter_name" placeholder="Filter name" v-model="form_transform.filter.filter_name">
                </td>
                <td>
                  <input class="input" type="text" name="new_filter_string" placeholder="Filter string" v-model="form_transform.filter.filter_string">
                </td>
                <td>
                  <button class="button is-small" type="button" v-on:click="submitFilter"> Submit New Filter</button>
                </td>
              </tr>
            </table>
            <p class="control">
              <br>
            </p>
            <!-- Selectors section -->

            <label class="label">Selector</label>
            <table class ="selectors_list table">
              <thead>
                <th>Selector name</th>
                <th>Selector string</th>
                <th>Select</th>
              </thead>
              <tr v-for="(item, index) in selectors">
                <td>
                  {% raw %}
                  {{ item.selector_name }}
                  {% endraw %}
                </td>
                <td>
                  {% raw %}
                  {{ item.selector_string }}
                  {% endraw %}
                </td>
                <td>
                  <label class="radio">
                    <input type="radio" name="selector_choice" v-bind:value="index" v-model="selector_picked">
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <input class="input" type="text" name="new_selector_name" placeholder="Selector name" v-model="form_transform.selector.selector_name">
                </td>
                <td>
                  <input class="input" type="text" name="new_selector_string" placeholder="Selector string" v-model="form_transform.selector.selector_string">
                </td>
                <td>
                  <button class="button is-small" type="button" v-on:click="submitSelector"> Submit New Selector</button>
                </td>
              </tr>
            </table>

            <p class="control">
              <br>
            </p>

            <!-- Publishers section -->
            <label class="label">Publisher</label>
            <table class ="publishers_list table">
              <thead>
                <th>Publisher name</th>
                <th>Publisher string</th>
                <th>Select</th>
              </thead>
              <tr v-for="(item, index) in publishers">
                <td>
                  {% raw %}
                  {{ item.publisher_name }}
                  {% endraw %}
                </td>
                <td>
                  {% raw %}
                  {{ item.publisher_string }}
                  {% endraw %}
                </td>
                <td>
                  <label class="radio">
                    <input type="radio" name="publisher_choice" v-bind:value="index" v-model="publisher_picked">
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <input class="input" type="text" name="new_publisher_name" placeholder="Publisher name" v-model="form_transform.publisher.publisher_name">
                </td>
                <td>
                  <input class="input" type="text" name="new_publisher_string" placeholder="Publisher string" v-model="form_transform.publisher.publisher_string">
                </td>
                <td>
                  <button class="button is-small" type="button" v-on:click="submitPublisher"> Submit New Publisher</button>
                </td>
              </tr>
            </table>

            <p class="control">
              <br>
            </p>

            <!-- end of options -->
            <p class="control">
              <button class="button is-primary" type="button" v-on:click="submitTransform">Submit</button>
              <button class="button is-link">Cancel</button>
            </p>

          </form>
        </div>
      </div>
    </section>
  </body>
</html>
