<html>
  <head>
    <title>steamlink</title>
    <script
       src="https://code.jquery.com/jquery-3.1.1.min.js"
       integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
       crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
    <script type="text/javascript" src="/static/app.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/bulma.css">
  </head>
  <body>

    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            steamlink dashboard
          </h1>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container" id="app_transforms">
        <div class="columns">
          <div class="column">

            <h2 class="subtitle">Meshes</h2>
            <table class="mesh_list table">
              <thead>
                <th>Mesh Name</th>
                <th>Radio Type</th>
                <th>Radio Parameters</th>
                <th>Location</th>
              </thead>

              <tr v-for="(item,index) in meshes">
                <td>
                  {% raw %}
                  {{ item.mesh_name }}
                  {% endraw %}
                </td>
                <td>
                  {% raw %}
                  {{ item.radio.radio_type }}
                  {% endraw %}
                </td>
                <td>
                  {% raw %}
                  {{ item.radio.radio_params }}
                  {% endraw %}
                </td>
                <td>
                  {% raw %}
                  {{ item.physical_location.location_params }}
                  {% endraw %}
                </td>
              </tr>
              <tr>
                <td>
                  <input class="input" type="text" name="new_mesh_name" placeholder="New mesh name" v-model="new_mesh.mesh_name">
                </td>
                <td>
                  <input class="input" type="text" name="new_radio_type" placeholder="LoRa" v-model="new_mesh.radio.radio_type">
                </td>
                <td>
                  <input class="input" type="text" name="new_radio_params" placeholder="normal" v-model="new_mesh.radio.radio_params">
                </td>
                <td>
                  <input class="input" type="text" name="new_physical_location" placeholder="Toronto" v-model="new_mesh.physical_location.location_params">
                </td>
              </tr>
              <td>
                <button class="button is-dark" type="button" v-on:click="addMesh">Add Mesh</button>
              </td>
            </table>


            <h2 class="subtitle">Swarms</h2>
            <table class="swarms_list table">
              <thead>
                <th>Swarm Name</th>
                <th>Swarm Key</th>
              </thead>

              <tr v-for="(item,index) in swarms">
                <td>
                  {% raw %}
                  {{ item.swarm_name }}
                  {% endraw %}
                </td>
                <td>
                  {% raw %}
                  {{ item.swarm_crypto.crypto_key }}
                  {% endraw %}
                </td>
              </tr>
              <tr>
                <td>
                  <input class="input" type="text" name="new_swarm_name" placeholder="New swarm name" v-model="new_swarm.swarm_name">
                </td>
                <td>
                  <input class="input" type="text" name="new_swarm_key" placeholder="supersecretpassword" v-model="new_swarm.swarm_crypto.crypto_key">
                </td>
              </tr>
              <td>
                <button class="button is-dark" type="button" v-on:click="addSwarm">Add Swarm</button>
              </td>
            </table>



            <h2 class="subtitle">Nodes</h2>
                        <table class="nodes_list table">
              <thead>
                <th>Node Name</th>
                <th>Mesh</th>
                <th>Swarm</th>
                <th>Token</th>
              </thead>

              <tr v-for="(item,index) in nodes">
                <td>
                  {% raw %}
                  {{ item.node_name }}
                  {% endraw %}
                </td>
                <td>
                  {% raw %}
                  {{ item.mesh.mesh_name }}
                  {% endraw %}
                </td>
                <td>
                  {% raw %}
                  {{ item.swarm.swarm_name }}
                  {% endraw %}
                </td>
              </tr>
              <tr>
                <td>
                  <input class="input" type="text" name="new_node_name" placeholder="New node name" v-model="new_node.node_name">
                </td>
                <td>
                  <select v-model="new_node.selected_mesh">
                    <option v-for="(mesh_item, mesh_index) in meshes">
                      {% raw %}
                      {{ mesh_item.mesh_name }}
                      {% endraw %}
                    </option>
                  </select>
                </td>
                <td>
                  <select v-model="new_node.selected_swarm">
                    <option v-for="(swarm_item, swarm_index) in swarms">
                      {% raw %}
                      {{ swarm_item.swarm_name }}
                      {% endraw %}
                    </option>
                  </select>
                </td>
                <td>
                  <button class="button is-dark" type="button" v-on:click="addNode">Add Node</button>
                </td>
              </tr>
            </table>

            <h2 class="subtitle">Transforms</h2>
            <table class="transforms_list table">
              <thead>
                <th>Transform name</th>
                <th>Filter</th>
                <th>Selector</th>
                <th>Publisher</th>
                <th>Active</th>
              </thead>
              <tr v-for="(item,index) in transforms">
                <td>
                  {% raw %}
                  {{ item.transform_name }}
                  {% endraw %}
                </td>
                <td>
                  {% raw %}
                  {{ item.filter.filter_name }}
                  {% endraw %}
                </td>
                <td>
                  {% raw %}
                  {{ item.selector.selector_name }}
                  {% endraw %}
                </td>
                <td>
                  {% raw %}
                  {{ item.publisher.publisher_name }}
                  {% endraw %}
                </td>

                <td>
                  <button class="button is-small" type="button" v-on:click="activateTransform(index)">
                    {% raw %}
                    {{ item.active }}
                    {% endraw %}
                  </button>
                </td>
              </tr>
            </table>
            <a class="button is-dark" href="/add-transform">Add new transform</a>

          </div>
        </div>
      </div>
    </section>

</html>
