<html>
  <head>
	<title>steamlink</title>
	<script
	   src="https://code.jquery.com/jquery-3.1.1.min.js"
	   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	   crossorigin="anonymous"></script>
	<script src="/static/jsfiddle.js"> </script>
	<link rel="stylesheet" type="text/css" href="/static/bulma.css">
  </head>
  <body>


	<section class="hero">
	  <div class="hero-body">
		<div class="container">
		  <h1 class="title"> steamlink status </h1>

		  <h2 class="subtitle">Meshes</h2>
		  <table id="mesh-status-table"></table>

		  <br />
		  <h2 class="subtitle">Node Data</h2>
		  <table id="node-data-table"></table>

		  <br />
		</div>
	  </div>
	</section>

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>

	<script type="text/javascript">
		function clone(obj) {
			if (null == obj || "object" != typeof obj) return obj;
			var copy = obj.constructor();
			for (var attr in obj) {
				if (obj.hasOwnProperty(attr)) copy[attr] = obj[attr];
			}
			return copy;
		};

		Function.prototype.clone = function() {
			var cloneObj = this;
			if(this.__isClone) {
			  cloneObj = this.__clonedFrom;
			}

			var temp = function() { return cloneObj.apply(this, arguments); };
			for(var key in this) {
				temp[key] = this[key];
			}

			temp.__isClone = true;
			temp.__clonedFrom = cloneObj;

			return temp;
		};
		window.onload = function() {
			var url = "https://" + document.domain + ":" + location.port;
			var node_tableDyn = clone(dynamicTable);
			var node_table = node_tableDyn.config('node-data-table', 
			   ['payload', '_node_id', '_mesh', '_rssi', '_sl_id'],
			   ['Payload', 'Node','Mesh','RSSI','Swarm'], 
			   'nothing yet...');
			var mesh_tableDyn = clone(dynamicTable);
			var mesh_table = mesh_tableDyn.config('mesh-status-table', 
			   ['mesh', 'status','slsent','slreceived','mqttsent',
				'mqttreceived','mqttqcount','loraqcount'],
			   ['Mesh', 'Status','LoRa Sent','LoRa Received','MQTT Sent',
				'MQTT Received','MQTT Queue','LoRa Queue'], 
			   'nothing yet...');
			console.log("url", url);
			var socket = io.connect(url + "/sl");
			socket.on('msg', function(msg) {
				console.log("msg:", msg);
				if ('nodes' in msg) {
					console.log("nodes...");
					node_table.load(msg.node[0]);
				};
				if ('mesh' in msg) {
					mesh_table.load(msg.mesh[0]);
					console.log("meshes...");
				};
			});
		}
	</script>

</html>
